*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

:root {
    font-family: 'Great Vibes', cursive;
    font-family: 'Montserrat', sans-serif;
    --green: color #507B6F; 
    --soft-green: color #85B3A0;
    --gold: color #E2C977;
}


.portrait{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/portada.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    background-attachment: fixed;
    transform: translateZ(-50px) scale(1.1);
}


.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title h1{
    display: flex;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    font-weight: 100;
}

h2{
    color: #E2C977;
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    font-weight: 100;
    text-align: 20%;
    padding-bottom: 30px;
}

.portrait h3{
    display: flex;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;

}


.section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

 
}
.date{ 
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    color: #fff ;
    background-color: #E2C977;
    
}

.time{
    width: 80px;
    height: 80px;
    /* margin: 3%; */
    /* padding-bottom: 2%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time small{
    /* color: #85B3A0; */
    font-size: 1.2rem;

}

h4 {
 display: flex;
 flex-direction: center;
 text-align: center;
 /* color: #85B3A0; */
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 font-size: 2.5rem;
 
}

.section-two-dates{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date-title{
color: #507B6F;
font-size: 3rem;
align-items: center;
justify-content: space-around;
flex-direction: column;

}

.ceremony{
width: 30vw;
/* border: red 1px solid; */
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
}

.ceremony img{
    width: 30%;
    height: 30%;
    padding: 10px;


}

.party {
width: 30vw;
/* border: red 1px solid; */
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.5rem;

}

.party img{ 
    width: 30%;
    height: 30%;
    padding: 10px;

}

button{
    width: 300px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    background-color: #85B3A0;
    border-radius: 8px;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 30px;
    font-weight: 300;

}

.dress-code{
    width: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #E2C977;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 1.4rem;
}

.dress-code p{
margin-top: 20px;
font-weight: 400;

}

.hashtag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    /* font-family: 'Montserrat', sans-serif; */
}

.hashtag img{
    margin-top: 3%;
    width: 110px;
    height: 110px;
    background: #507B6F;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 90px;
}

.first{
   font-size: 1.5rem;
   font-weight: bold;
   padding: 1%;
   letter-spacing: 2px;
}

.sec{ 
    font-weight: lighter;
    text-align: center;
    padding: 3%;
    font-size: 1.4rem;

}

.thr{ 
    text-transform: uppercase;
    padding: 1%;
    font-size: 1.6rem;
}

.asistance{
    background-image: url("./img/asis-back.png"), url("./img/asis-back-rotate.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%;
    background-position: -25%, 120%;
    background-position-y: 1%, 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    /* border: red 2px solid; */

}

.asistance-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    /* margin-top: 2%; */
}

.asis-final-date{
    font-size: 1.5rem;
    letter-spacing: 8px;
    margin: 10px;
    margin-bottom: 5%;
    font-weight: 400;

}

.asis-price{
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 10px;
    font-weight: 400;

}

.buttons{
    margin-top: 5%;
}
.buttons button{
background-color: #E2C977;
border: #E2C977 2px solid;
padding: 5px 10px;
}

.buttons .sec{
    background-color: #fff;
    color: #E2C977;
    border: #E2C977 2px solid;
}

.thanks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #507B6F;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 5%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 28rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.modal-content p{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-weight: 300;

}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}


.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


@media  (max-width: 767px) {
    .portrait{
        height: 75vh;
        font-size: 1rem;
        background-size: 90%;
        background-attachment: scroll;
    }
    .section-two{
        margin-top: 5%;
    }
    .section-two-dates{
        display: flex;
        flex-direction: column;  
    }
    .date h4{
        margin-top: 20%;
    }
    .ceremony img{
        width: 17vw;
    }
    .ceremony{
        text-align: center;
    }

    .party{
        text-align: center;
    }
    .party img{
        width: 17vw;
        /* height: 15vh; */
    }
    .dress-code{
        margin: 0;
        padding: 0;
        height: 15vh;
    }
    .hashtag{
        padding-top: 70px;
    }
    .hashtag .first, .second, .thr{
        margin-top: 5%;
    }
    .asistance{
        height: 45vh;
    }
    .thanks p{
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500 ;
    }
    .asis-price{
        margin-top: 3%;
    }
}

@media (max-width: 450px) {

.portrait{
        height: 70vh;
        font-size: 1rem;
        background-size: 140%;
        background-attachment: scroll;
    }
    .portrait .main-title h1, h2{
        font-size: 4rem;
    }
    .portrait h3{
        font-size: 1.1rem;
        padding-right: 5px;
    }
    .section-two{
        /* margin-top: 5%; */
    }
    .section-two-dates{
        display: flex;
        flex-direction: column;
       
    }
    .time{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
     .time h4{
        font-size: 1.5rem;

    }
    .date{ 
     display: flex;
     align-items: center;
     height: 100px;
    }
    .ceremony img{
        width: 50%;
        height: 40%;
    }
    .ceremony, .party{
        width: 60%;
        font-size: 1.3rem;
    }
    .party{
        text-align: center;
        width: 60%;
    }
    .party img{
        width: 50%;
        height: 40%;
    }
    .dress-code{
        text-align: center;
        margin: 0;
        padding: 0;
        height: 20vh;

    }
    .dress-code p{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .dress-code-text{
        font-size: 1.3rem;
        font-weight: 200;
    }
    .hashtag{
        padding-top: 40px;
        text-align: center;
        height: 60%;
    }
    .hashtag img{
        margin-top: 0;
        width: 20%;
        height: 17%;
        border-radius: 80px;
    }
    .hashtag .first, .sec, .thr{
        margin-top: 5%;
        text-align: center;
    }
    .first{
        font-size: 1.3rem;
    }
    .sec{
        font-size: 1.2rem;
        font-weight: 400;
    }
    .thr{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .asistance{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-y: 10%;
        background-size: 40%;
    
    }
    .asistance-title{
        font-size: 1rem;
        text-align: center;
    }
    .asis-final-date{
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: 10px 0px 40px 0px;
    }
    .asis-price{
    font-size: 1.2rem;
    text-align: center;
    height: auto;
    letter-spacing: 0px;
    margin-top: 1px;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .buttons button{
     font-size: 1.3rem;
     width: 300px;
     height: 36%;
     border-radius: 5px;
     text-align: center;
     padding: 5px 5px;

    }

    .buttons .sec{
        margin: 0;
        margin-left: 10px;
    }
    .modal-content{
        width: 90%;
        height: auto;
    }
    .modal-content h2{
        font-size: 3rem;
    }

    .modal-content p{
         font-size: 1.3rem;
    }
    .thanks p{
        font-size: 1.3rem;
        text-align: center;
        font-weight: 300 ;
    }
}

@media (max-width: 380px) {
    .portrait{
        height: 75vh;
        font-size: 1rem;
        background-size: 110%;
        background-attachment: scroll;
    }
    .portrait .main-title h1, h2{
        font-size: 2.5rem;
    }
    .portrait h3{
        font-size: 1rem;
    }
    .section-two-dates{
        display: flex;
        flex-direction: column;
       
    }
    .date .time h4{
        font-size: 1.5rem;
    }
    .date{
     padding-bottom: 10px;
    }

    .ceremony img{
        width: 18vw;
    }
    .ceremony, .party{
        width: 100%;
        font-size: 0.8rem;
    }
    .party{
        text-align: center;
        width: 100%;
    }
    .party img{
        width: 18vw;
        /* height: 15vh; */
    }
    .dress-code{
        text-align: center;
        margin: 0;
        padding: 0;
        height: 30vh;

    }
    .dress-code p{
        font-size: 1rem;
        font-weight: 700;
    }
    .hashtag{
        padding-top: 40px;
        text-align: center;
        height: 80%;
    }
    .hashtag img{
        margin-top: 0;
        width: 30%;
        height: 30%;
    }
    .hashtag .first, .sec, .thr{
        margin-top: 5%;
        text-align: center;
    }
    .first{
        font-size: 1rem;
    }
    .sec{
        font-size: 1rem;
        font-weight: 400;
    }
    .thr{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .asistance{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-y: 10%;
    
    }
    .asistance-title{
        font-size: 1rem;
        text-align: center;
    }
    .asistance .asis-final-date{
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .asis-price{
    font-size: 0.8rem;
    text-align: center;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .buttons button{
     font-size: 0.7rem;
     width: 80%;
     height: 30%;
     border-radius: 5px;
     text-align: center;
    }

    .buttons .sec{
        margin: 0;
        margin-left: 10px;
    }
    .thanks p{
        font-size: 1rem;
        text-align: center;
        font-weight: 300 ;
    }
}

